subject = "Your project has been rejected: {{ project.name }}"
==

<p>Hi {{ user.name }},</p>

<p>We are sorry, but your project "{{ project.name }}" has been rejected and cannot be published. You are welcome to resubmit the project after the issues described below have been fixed.</p>

<p><a href="{{ project.url }}">Click here</a> to open the project management page.</p>

<hr />

<blockquote>
    {% if reason %}
        {{ reason|raw }}
    {% else %}
        A rejection reason has not been specified.
    {% endif %}
</blockquote>
