subject = "{{ otherUser.name }} posted a message about: {{ project.name }}"
==
<p>
    Dear {{ user.name }},
</p>
<p>
    This a message posted by <strong>{{ otherUser.name }}</strong> in the collaboration area for the project <a href="{{ project.url }}">{{ project.name }}</a>.
</p>
<blockquote>
    {{ collabMessage.content_html|raw }}
</blockquote>
<p>
    Please do not reply to this message directly. Use the following link to review or reply to the message:
    <br />
    <a href="{{ project.url }}#message-{{ collabMessage.id }}">
        {{ project.url }}#message-{{ collabMessage.id }}
    </a>
</p>

<p>Thanks for using {{ site_name }}!</p>
