@import "../../../../../modules/backend/assets/less/core/boot.less";

.action-buttons {
    padding: 1rem 0 2rem 0;
}

.user-conversation-preview {
    height: 300px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #eee;

    .user-conversation-preview-content {
        padding: 15px;
        font-family: Helvetica, sans-serif;
        line-height: 180%;

        ul, ol {
            li {
                margin-bottom: 10px;
            }
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
}